<extend name="Public/base" />

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>编辑板块信息</h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <div class="tab-content">
    <!-- 表单 -->
    <form id="form" action="{:U('Blocklist/edit',array('id'=> I('get.id') ))}" method="post" class="form-horizontal">
        <!-- 基础文档模型 -->
        <div id="tab0" class="tab-pane in tab0">
            <div class="form-item cf">
                <label class="item-label">*页面板块：<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-4x" name="title" value="{$info.title}">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">*页面ID：<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-4x" name="pageid" value="{$info.pageid}">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">* 标题列表：<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-8x" name="titlelist" value="{$info.titlelist}">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">*字段列表：<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-8x" name="fieldlist" value="{$info.fieldlist}">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">*板块路径：<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-8x" name="blockurl" value="{$info.blockurl}">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">*列表定义<span class="check-tips"></span></label>
                <div class="controls">
                    <label class="textarea input-large">
                        <textarea name="list_grid">{$info.list_grid}</textarea>
                    </label>
                </div>
            </div>
            
            <div class="form-item cf">
                <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">保 存</button>
                <a class="btn btn-return" href="javascript:;" onclick="javascript:history.back(-1);return false;">返 回</a>
            </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

});
</script>
</block>
